* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 2rem;
  background: slateblue;
  background-size: cover;
  background-position: center;
  color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
}

input,
button {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 10px;
}

@media only screen and(max-width:768px) {
  input,
  button {
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
  }
}
